.App {

}
.book-thumbnail-img {
  width: 150px;
  height: 150px;
  overflow: hidden;
}
.shelved-book{
  display: inline-block;
  max-width: 150px;
  margin: 0px 10px 0px 10px;
}
h3 {
  font-size: 14px;
}
h4 {
  font-size: 12px;
}